@import url('https://fonts.googleapis.com/css?family=Roboto');
:root{
	--standard-color:#3c8dbc;
	--black-theme:#222d32;
	--gray-theme:#d2d6de;
	--clear-color:white;
	--dark-color:black;
	--blue-theme:#3c8dbc;
	--default-border:1px solid #eee;
	--default-shadow: 0px 0px 13px 5px #eee;
}

body{
	font-family:'Roboto';
}

.right{text-align:right;}
.content-box{
	background-color:var(--clear-color);
	padding:10px;	
	border:1px solid #e5e5e5;}
.button-box{
	
	padding-bottom:5px;
	padding-top:5px;
	text-align:right;
}
.chart-box{
	background-color:var(--dark-color);
	padding:25px;	
}
.content-box-title{
	background-color:var(--standard-color);
	color:var(--clear-color);
	text-align:left;
	padding:3px 25px;
	font-size:1.5rem;
	text-transform:uppercase;
	display:block;
	width:100%;
	font-weight: 900;

}
.content-box-subtitle{
	background-color:white;
	color:var(--standard-color);
	text-align:left;
	padding:3px 5px;
	font-size:1.3rem;
	text-transform:uppercase;
	display:block;
	
	font-weight: 700;
	margin:15px 0px 15px 0px;
	border-bottom:3px solid var(--standard-color);

}
thead{
	background-color:var(--standard-color);
	color:var(--clear-color);
}

.button_tag{padding:3px;display:inline-block;border:1px solid #eee;box-shadow: 2px 2px 2px #ddd;font-weight: 900;margin-left:2px;}
.yellow_tag{color:#ccc;background-color:yellow;}
.orange_tag{color:white;background-color:orange;}
.red_tag{color:white;background-color:red;}
.green_tag{color:white;background-color:green;}
.gray_tag{color:white;background-color:gray;}
.standard_tag{color:white;background-color:var(--standard-color);}
.semaforo_tag{padding:2px 5px;margin-right: 10px;border-radius:5px;font-weight:700;display:inline-block;width:30px;text-align:center;}
.rv_tag{padding:2px 5px;margin-right: 10px;border-radius:5px;font-weight:700;display:inline-block;}

.dashboard_logo{text-align:center;margin-top:200px;}
.login-page{background-color:var(--blue-theme);}

#standard_table, .table-semaforo{
	width:100% !important;
}

#form_quotes_history, #form_quotes_simulator{
	border: var(--default-border);
	border-top:5px solid var(--standard-color);
	padding:10px;
	box-shadow: var(--default-shadow);	
}

#form_quotes_history select,
#form_quotes_history input,
#form_quotes_simulator select,
#form_quotes_simulator input{
	margin-right:15px;
}
#form_quotes_history button, #form_quotes_simulator button{margin-left:5px;}

.hc_charts {	
	width:100%;
	height: 400px;
	margin: 0 auto
}

@media (min-width:1350px){
	.container{width:1300px;}
}

.navbar-brand{padding:5px;}

.user-panel>.image{display:inline-block;}
.user-panel>.image>img{max-width:30px;display:inline-block;}
.user-panel>.info{position:relative;padding:8px 5px 0px 5px;left:0px;}

#div_simulador,#div_retornos{display:none;}
#div_table_retornos{overflow-x: scroll;}

.card{padding:5px;}
.card >div{border:var(--default-border);box-shadow: var(--default-shadow);text-align:center;}
.remove_portfolio_button{color:white;background-color:red;}

.positive_percentage{color:green;}
.negative_percentage{color:red;}
.neutral_percentage{color:orange;}

.sinalizacao{text-align:center;}
#button_show_quote{margin-left:10px;color:white;}
#button_show_tendencia{margin-left:10px;color:white;}
#button_show_semaforos, 
.toggle_button, 
.toggle_button:active, 
.toggle_button:focus{margin-left:10px;color:white;}

#ft_semaforo{margin-left:30px;padding: 2px 10px; border-radius:5px;background-color:white;}
#ft_semaforo i, .ft_semaforo i{margin:2px 5px;}

#semaforos_board .content-box{overflow-x:scroll;}
#semaforos_board table{width:100%;}
#semaforos_board th, #semaforos_board td{min-width:150px;}

#external_quote_chart, 
#forca_tendencia_board,

#semaforos_board, 
#forca_moedas_board,
#graph_vol_acao_reversa, 
#graph_razao_forca_index, 
#graph_indice_canal_conv,
#graph_media_volatilidade{
	display:none;
}
.span_block{display:block;margin-top:5px;}

#start_date, #end_date{max-width:140px;}

.currency_adm button{margin-top:24px;}
.currency_label{border:1px solid #ddd;margin-bottom:15px;}
.currency_label button{margin-right:5px;}

.portfolio_button{
    padding: 10px 0px 0px;
    border: none !important;
    box-shadow: none !important;	
}
.div_table_retornos_container{
	padding:10px;
    border: none !important;
    box-shadow: none !important;		
}

.table_forca_moedas{}
.table_forca_moedas .content-box-title{border-bottom:2px solid white;}
.table_forca_moedas td,.table_forca_moedas th{border:1px solid #000;text-align:center;}

.currency_power .content-box-title{background-color:black;}
.black_background{background-color:black;}
.currency_power_limit_low{background-color:red;color:white;}
.currency_power_limit_high{background-color:green;color:white;}
.currency_power_limit_yellow{background-color:yellow;color:black;}
.currency_power_limit_orange{background-color:orange;color:black;}

.currency_power table th, .currency_power table td{border:1px solid #000;text-align:center;}
.currency_power_periodo {background-color:yellow;color:black;font-weight: 900;}

.dt_semaforo_cruzamento_media{
	margin-left: 20px;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: white;	
}
.dt_semaforo_cruzamento_media i{
	    margin: 2px 3px;
}
.forca_percent_pontos_label, .center_block{
	display:block;
	text-align:center;
}

.forca_buy_sell_config{
height: 32px;
    padding: 6px 0px;	
}
.mt-15{
	margin-top:15px;
}
